<div class="container-fluid">
       <!--<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366.22 416.88"><defs><style>.cls-1{fill:#F5B041;stroke:white;stroke-miterlimit:0;opacity:0.5;}</style></defs><title>svg illustarion</title><path class="cls-1" d="M.5,3.5s144,434,682,411,683-415,683-415H.5v8" transform="translate(0 1)"/></svg>
       -->

    <div class="row">
        <div class="col-md-7">
          <div class="title-trends">
                <img src="./assets/imgs/bb.png">
                <div class="info">
                    <h3>New Trends Here Are Coming</h3>
                    <h4>The Most Wonderful Fashion</h4>
                    <h5>Fashion 2019 & 2020.</h5>
                </div>
          </div>
        </div>
        <div class="col-md-5">
            <div class="img-contain">
                    <img src="./assets/imgs/www.png">
                    <div class="overlay-static">
                        <h5>New Collection 2019 - 2020</h5>
                        <h6>Women Fashion</h6>
                        <button class="btn btn-outline-light">See Collection</button>
                    </div>
            </div>
        </div>
    </div>
<div class="collection">
    <h4>New Collection Summer & Winter Soon</h4>
</div>
    <div class="row">
        <div class="col-12">
            <div class="collection-img">
            <img src="./assets/imgs/background.png">
            <div class="overlay">
                    <h5>New Collection 2019 - 2020</h5>
                    <h6>Men & Women Fashion</h6>
                    <button class="btn btn-outline-light">See Collection</button>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
            <h4>New Collection Summer Soon</h4>
        </div>
    <div class="row">
            <div class="col-12">
                    <div class="collection-img">
                <img src="./assets/imgs/group1.png">
                <div class="overlay">
                        <h5>New Collection 2019 - 2020</h5>
                        <h6>Men & Women Fashion</h6>
                        <button class="btn btn-outline-light">See Collection</button>
                    </div></div>
            </div>
        </div>
        <div class="collection">
                <h4>New Collection Fashion Women Soon</h4>
            </div>
        <div class="row last-imgg">
                <div class="col-6">
                    <div class="img-last">
                    <img class="last-img" src="./assets/imgs/girl2.png">
                    <div class="overlay">
                            <h5>New Collection 2019 - 2020</h5>
                            <h6>Men & Women Fashion</h6>
                            <button class="btn btn-outline-light">See Collection</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                        <div class="img-last">
                        <img class="last-img" src="./assets/imgs/w.png">
                        <div class="overlay">
                                <h5>New Collection 2019 - 2020</h5>
                                <h6>Men & Women Fashion</h6>
                                <button class="btn btn-outline-light">See Collection</button>
                            </div>
                    </div></div>
            </div>

</div>
