
    <div class="icons"></div>
    <div class="home-text">
        <h1>NEW<span class="special"> FASHION</span> HERE.</h1>
        <h1>YOU CAN MADE IT</h1>
        <h1 class="special">SIMPLE.</h1>
        <button routerLink="Category" class="btn btn-outline-dark w-50 home-btn">SHOP NOW <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
<div class="icons-container">
    <div class="icons">
        <ul class="list-unstyled">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
    </div>
</div>

 <!--
    <div class="home-register">
      <button  onclick="document.getElementById('id01').style.display='block'" class="reg">Sign up</button>
      <button  onclick="document.getElementById('id02').style.display='block'" class="login">Login Now!</button>
    </div>
  --> 

        <div class="img-container">
                <img src="./assets/imgs/mann.png">
        </div>

<!------------------------------------------------------------------------------------->
